<app-titre-chrono></app-titre-chrono>

<div class="container">
  <p class="display-6 mt-5 text-center">{{ valeur }}</p>

  <div class="row">
    <div class="col-lg-6 mt-1">
      <button
        class="btn btn-dark col-lg-12 col-12"
        type="button"
      >
        Reset Stopwatch
      </button>
    </div>

    <div class="col-lg-6 mt-1">
      <button
        class="btn btn-success col-lg-12 col-12"
        type="button"
      >
        Stop Stopwatch
      </button>
    </div>

  </div>
</div>
